<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

    <h1>Ваш профиль:</h1>

    <form th:action="@{/profile/update}" th:object="${user}" method="post">
        <label>Username: </label>
        <input type="text" th:field="*{username}" /> <br/>

        <label>Email: </label>
        <input type="email" th:field="*{email}" /> <br/>

        <p th:text="${user.role}"> Role</p>

        <button type="submit">Save</button>
    </form>

    <br/>

    <div th:if="${user.email != null}">
        <form method="post" th:action="@{/profile/send-confirm-mail}" th:object="${user}">
            <button type="submit">Подтвердить почту</button>
        </form>
    </div>

    <div th:if="${message}">
        <script>
            alert([[${message}]]);
        </script>
    </div>

</body>
</html>